@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@media only screen and (max-width: 480px) and (orientation: portrait),
        (max-width: 768px) and (orientation: landscape) {
            .bottom-right {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        @media only screen and (min-width: 769px) {
            .bottom-right {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 20px;
            }
        }
body{
    
   background-image: url(tlo.gif);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

#naglowek1,#naglowek2,#naglowek1{

    text-align: center;
    padding-top: 20px;
    color: #FFF;
    height: auto;
}
#naglowek1{

    width: 25%;
    float: left;
    font-family: 'VT323', monospace;

}
#naglowek2{
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    width: 50%;
    float: left;
    font-family: 'VT323', monospace;
    

}

img {
    
    max-width: 100%;
    height: auto;
}
#naglowek3{
    
    width: 25%;
    float: left;
    filter: grayscale(100%);
    
    text-align: right;
    
}
#firma{

    width: 40%;

}



#main{

    text-align: center;
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 200px;
    padding-top: 5%;
}

p{
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #FFF;
    font-family: 'VT323', monospace;
}

#icon{

    
    width: 80px;
    height: auto;
    
}

#stopka1{
    
    float: left;
    text-align: left;
    max-width: 75%;
    margin-top: 20px;
    clear: both;
    height: auto;
    
    
}
#stopka2{
    
    float: right;
    text-align: right;
    max-width: 20%;
    margin-top: 3px;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.5;
    width: 10%;
}
h5{

    color: white;

}
#input{
    padding: 2%;
    background-color: #0088e3;
    border: 1px solid transparent;
    margin-top: 10px;
    color: #FFF;
    border-radius: 10px;
    
}
#logo{

    width: 50%;

}
#input:active{

    background-color: #0088e3;
    border: 1px solid transparent;
    font-family: 'VT323', monospace;
    /* font-family: 'Roboto Mono', monospace; */
}
input::placeholder {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 20px;
    /* font-family: 'Roboto Mono', monospace; */
  }
#button{
    margin-top: 30px;
    background-color: #0088e3;
    padding: 1%;
    font-family: 'VT323', monospace;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    color: #000;
}
#button:active {
    background-color: #0088e3;
    transform: translateY(4px);

}
#button:hover{

    background-color: #003a7d;

}

@keyframes spinner {
    0%{
        transform: scale(0.1);
    }



    100%{

        transform: scale(1) rotate(1deg);

    }

}


