@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@media only screen and (max-width: 480px) and (orientation: portrait),
        (max-width: 768px) and (orientation: landscape) {
            .bottom-right {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        @media only screen and (min-width: 769px) {
            .bottom-right {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 20px;
            }
        }
body{
    
   background-image: url(bg.gif);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

#naglowek1,#naglowek2,#naglowek1{

    text-align: center;
    padding-top: 20px;
    color: #FFF;
    height: auto;
}
#naglowek1{

    width: 25%;
    float: left;
    font-family: 'VT323', monospace;

}
#naglowek2{
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    width: 50%;
    float: left;
    font-family: 'VT323', monospace;
    

}
img {
    max-width: 100%;
    height: auto;
}
#naglowek3{
    
    width: 25%;
    float: left;
    filter: grayscale(100%);
    opacity: 0.5;
    text-align: right;
}
#firma{

    width: 40%;

}

/* #firma{
    margin-top: 30px;
    width: 25%;
    height: auto; 
    padding-bottom: 20px;
    filter: grayscale(100%);
    opacity: 0.5;
    margin: auto;
}
/* #logo{
    margin-top: 80px;
    position: fixed;
    /* transform: translate(-30px,0); */
    /* margin-left: auto;
    margin-right: auto;
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear; */
/* }  */

#main{

    text-align: center;
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 190px;
}
#login{

    
    
    margin-top: 100px;
    background-color: #0031e3;
    padding: 2%;
    font-family: 'VT323', monospace;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
 
}
#login:active {
    background-color: #001b7d;
    transform: translateY(4px);

}
#login:hover{

    background-color: #001b7d;
    
}
p{
    margin-top: 60px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
    color: #FFF;
}
#guest{

    text-align: center;
    background-color: #666965;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-family: 'VT323', monospace;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    

}
#guest:active {

    background-color:#353634 ;
    transform: translateY(4px);
}
#guest:hover{

    background-color: #494a48;
    

}
#icon{

    
    width: 80px;
    height: auto;
    
}

#stopka1{
    
    float: left;
    text-align: left;
    max-width: 75%;
    margin-top: 30px;
    clear: both;
    height: auto;
    
    
}
#stopka2{
    
    float: right;
    text-align: right;
    max-width: 20%;
    margin-top: 30px;
    height: auto;
    
}
h5{

    color: white;

}
@keyframes spinner {
    0%{
        transform: scale(0.1);
    }



    100%{

        transform: scale(1) rotate(1deg);

    }

}


