body{
    
    background-image: url(bg.gif);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    text-align: center;
    color: #0031e3;
}


form{
    margin-top: 10%;
    top: 50px;
    background-color: rgba(0, 0, 0, 0);
}

input{
    width: 150px;
    height: 25px;
    margin-bottom: 30px;

}

input[type="submit"]{
    width: 110px;

}





button{
    background-color: rgb(255, 222, 222);
    height: 25px;
    min-width: 90px;

}
#login{

    
    
    
    background-color: #0031e3;
    
    font-family: 'VT323', monospace;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    
 
}
#user{
    padding: 1%;
    
    font-weight: bold;
    font-size: 15px;
    font-family: 'VT323', monospace;
    border-radius: 5px;
    
}
#konto{
    padding-top: 25%;
    text-align: center;
    font-size: larger;
    color: white;
}
p{

    color: white;

}