body {
    background-image: url(bg.gif);
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(50px);
}

table {
    margin: auto;
    background-color: rgb(3, 104, 187);
    border: solid 1px black;
    border-collapse: collapse;
}

tr,
td {
    border: solid;
    border: solid 1px black;
    transition: .5s;
}

td:hover {
    background-color: rgb(6, 169, 245);
    transition: .5s;
}

td {
    width: 128px;
    height: 128px;
}

/* .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.inp_player_1 {
    height: 50px;
    width: 100px;
}

.inp_player_2 {
    height: 50px;
    width: 100px;
}

.changer {
    float: right;
}

.changel {
    float: left;
}

.player1 {
    width: 50%;
    float: left;
}

.player2 {
    width: 50%;
    float: right;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img_change {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .7s ease-in-out;
    cursor: pointer;
}

.img_change:hover {
    transform: rotate(360deg);
}

.segment_g1 {
    width: fit-content;
    float: right;
    padding: 10px;
}

.segment_g2 {
    width: fit-content;
    float: left;
    padding: 10px;
}
p{

    font-family: 'VT323', monospace;
    color:white;
    font-size: 60px;
    /* border: 1px solid white;
    border-width: 10px; */
}
#main1,#main2,#main3{

    margin-top: 100px;

}
#main1{
    
    text-align: center;
    width: 25%;
    height: auto;
    float: left;
    margin-bottom: 150px;
}
#main2{
    
    text-align: center;
    width: 50%;
    height: auto;
    float: left;
    margin-bottom: 150px;
}
#main3{
    
    text-align: center;
    width: 25%;
    height: auto;
    float: right;
    margin-bottom: 150px;
}
#naglowek1,#naglowek2,#naglowek1{

    text-align: center;
    padding-top: 20px;
    color: #FFF;
    height: auto;
}
#naglowek1{

    width: 25%;
    float: left;
    font-family: 'VT323', monospace;

}
#naglowek2{
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    width: 100%;
    float: left;
    font-family: 'VT323', monospace;
    

}
#naglowek3{
    
    width: 25%;
    float: left;
    filter: grayscale(100%);
    
    text-align: right;
    
}
img {
    
    max-width: 100%;
    height: auto;
}
#logo{

    width: 50%;

}
#label{

    padding: 2%;
    background-color: #0088e3;
    border: 1px solid transparent;
    margin-top: 10px;
    color: #FFF;
    border-radius: 10px;

}

#stopka1{
    position: fixed;
    bottom: 0px;
    left: 0px;
    float: left;
    text-align: left;
    max-width: 75%;
    margin-top: 30px;
    clear: both;
    height: auto;
    
    
}
#stopka2{
    position: fixed;
    bottom: 0px;
    right: 0px;
    float: right;
    text-align: right;
    max-width: 20%;
    margin-top: 30px;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.5;
    width: 10%;
}